*{
  font-size: 16px;
}

h1, h2, p, span, li{
  font-family: "IBM Plex Sans", sans-serif;
  color: #353535;
}

a{
  font-family: "IBM Plex Sans", sans-serif;
  color: #3638AD;
  text-decoration: none;
}

h1{
  font-size: 2rem;
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
}

p, span{
  font-size: 1rem;
  line-height: 1.5rem;
}

.logo-text{
  font-size: 1.25rem;
  text-transform: uppercase;
}

/*Containers*/

.container-a{
  margin: 0 1.5rem;
}

.container-b{
  margin: 0 4.5rem;
}

.bg-gray{
  background-color: #C9C9C9;
}

.bg-white{
  background-color: #ffffff;
}

.content{
  display: flex;
  padding: 2rem 0rem;
}

.divider{
  height:4rem;
}

/*Header navigation*/
.navigation{
  display: flex;
  align-items: center;
  height: 4rem;
  position: fixed;
  background-color: white;
  padding: 0rem 1.5rem;
  width: 97%;
  z-index: 5;
}

.logo{
  display: flex;
  flex-grow: 1;
}

.logo span{
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo span:last-child{
  opacity: 0.4;
  font-weight: normal;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav ul li{
  padding: 0 0.5rem;
}

nav ul li:hover{
  opacity: 0.5;
  font-weight: bold;
}

.navigation-mobile{
  display: none;
}


/*Mobile nav*/
@media only screen and (max-width: 480px){
.navigation, .divider{
  display: none;
}

.navigation-mobile{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation-mobile img{
  padding: 1.5rem 1.5rem;
  height: 2.25rem;
}

.navigation-mobile img:hover{
  opacity: 0.5;
}

}
/*Spotlight*/

.spotlight-img{
  display: flex;
  align-items: center;
}

img{
  max-width: 100%;
}

.spotlight-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
}

.spotlight-text h1, .spotlight-text h2{
  padding: 1.5rem 0;
}

.btn{
  display: flex;
  background-color: #353535;
  justify-content: center;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.btn:hover{
  background-color: #EA6848;
}

.btn span{
  padding: 1.5rem;
  color: white;
  font-weight: bold;
}

/*Spotlight Mobile*/
@media only screen and (max-width: 480px){
.content{
  display: flex;
  flex-direction: column;
}
}

/*About Academy*/
.practice, .vid-text{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
}

.practice h1{
  padding: 2rem 0rem;
}

.practice-img{
  display: flex;
  overflow: hidden;
  align-items: center;
}

.list, .thesis-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding-left: 1.5rem;
}

.feature-img{
  width: 35%;
  display: flex;
  align-items: center;
}

.feature{
  display: flex;
}

.feature-text{
  width: 65%;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-text h2, .feature-text p, .vid-text h2, .vid-text p{
  padding: 0.5rem 0rem;
}

.feature:hover{
  background-color: #FEEFEA;
  border-radius: 5px;
  transition: background-color 0.5s linear;
}

#quote{
  font-style: italic;
}


/*About Mobile*/
@media only screen and (max-width: 480px){
.practice{
  display: none;
}
.list, .thesis-list{
  width: 100%;
  padding-left: 0rem;
  margin: 0 auto;
  border-bottom: 1px solid #C9C9C9;
}

.feature-img{
  width: 100%;
  display: flex;
  align-items: center;
}
.feature-img img{
  width: 100%;
  overflow: hidden;
}

.feature{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.feature-text{
  width: 100%;
  margin-left: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2.5rem;
}

.feature-text h2, .feature-text p, .vid-text h2, .vid-text p{
  padding: 0.25rem 0rem;
}

.feature:hover{
  background-color: #FEEFEA;
  border-radius: 5px;
  transition: background-color 0.5s linear;
}

}

/*Programs*/
.programs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.startlearning{
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.program-img{
  width: 100%;
}

.program-info{
  width: 30%;
  margin: 2rem 0rem;
  background-color: white;
}

.class-list{
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.class-list h2, .class-list p{
  padding: 0.5rem 0;
}

.class-list p{
  opacity: 0.5;
}

.courses{
  text-transform: uppercase;
}

.programs-mobile{
  display: none;
}

/*Programs Mobile*/
@media only screen and (max-width: 480px){
.programs-mobile{
  display: flex;
  flex-direction: column;
}

.programs-desktop{
  display: none;
}

.programs{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #C9C9C9;
}

.class-list{
  padding:1rem;
  background-color: #C9C9C9;
  display: flex;
  width: 85%;
  margin: 0.5rem;
  border-radius: 10px;
}

.class-list:hover{
  background-color: #EA6848;
}

.startlearning{
  padding-top: 0;
}
}

/*Exhibit*/
.thesis-video{
  width: 100%;
  display: flex;
  align-items: center;
}

.thesis-video video{
  width: 100%;
}

.thesis{
  display: flex;
  padding-top: 2rem;
}

.thesis-list{
  justify-content: space-around;
}

.exhibit-mobile{
  display: none;
}
/*Exhibit Mobile*/
@media only screen and (max-width: 480px){
.exhibit-desktop{
  display: none;
}

.exhibit-mobile{
  display: block;
}

.vid-text{
  width: 100%;
}
}

/*Footer*/

footer{
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  margin: 3rem 0;
}

.terms ul{
  display: flex;
}

.terms ul li{
  padding: 0 0.5rem;
}

.terms li:hover{
  opacity: 0.5;
}

/*Footer Mobile*/

.terms{
  display: none;
}

footer{
  justify-content: center;
}
