*{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

h1, h2, p, span, li{
  font-family: "IBM Plex Sans", sans-serif;
  color: #353535;
}

a{
  font-family: "IBM Plex Sans", sans-serif;
  color: #3638AD;
  text-decoration: none;
}

h1{
  font-size: 2rem;
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
}

p, span{
  font-size: 1rem;
  line-height: 1.5rem;
}

#logo-text{
  font-size: 1.25rem;
  text-transform: uppercase;
}

/*Containers*/

.container-a{
  margin: 0 1.5rem;
}

.container-b{
  margin: 0 4.5rem;
}

.bg-gray{
  background-color: #C9C9C9;
}

.bg-white{
  background-color: #ffffff;
}

.content{
  display: flex;
  padding: 2rem 0rem;
  justify-content: space-between;
  margin: 0 auto;
}

.divider{
  height:4rem;
}

/*Header navigation*/
.navigation{
  display: flex;
  align-items: center;
  height: 4rem;
  position: fixed;
  background-color: white;
  padding: 0rem 1.5rem;
  width: 97%;
  z-index: 5;
}

.logo{
  display: flex;
  flex-grow: 1;
}

.logo span{
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo span:last-child{
  opacity: 0.4;
  font-weight: normal;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav ul li{
  padding: 0 0.5rem;
}

nav ul li:hover{
  opacity: 0.5;
  font-weight: bold;
}

/*Spotlight*/

.spotlight-img{
  width: 60%;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-right: 0.75rem;
}

img{
  max-width: 100%;
}

.spotlight-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.spotlight-text h1, .spotlight-text h2{
  padding: 1.5rem 0;
}

.btn{
  display: flex;
  background-color: #353535;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  margin-top: 2rem;
}

.btn:hover{
  background-color: #EA6848;
}

.btn span{
  padding: 1.5rem;
  color: white;
  font-weight: bold;
}

/*About Academy*/
.practice{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
}

.practice h1{
  padding: 2rem 0rem;
}

.practice-img{
  display: flex;
  overflow: hidden;
  align-items: center;
}

.list, .thesis-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding-left: 1.5rem;
}

.feature-img{
  width: 35%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.feature{
  display: flex;
  justify-content: space-between;
  height: auto;
}

.feature-text{
  width: 65%;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-text h2, .feature-text p, .vid-text h2, .vid-text p{
  padding: 0.5rem 0rem;
}

.feature:hover{
  background-color: #FEEFEA;
  border-radius: 5px;
  transition: background-color 0.5s linear;
}

/*Programs*/
.programs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#startlearning{
  text-align: center;
  padding-top: 2.5rem;
}

.program-img{
  width: 100%;
  height: auto;
}

.program-info{
  width: 30%;
  margin: 2rem 0rem;
  background-color: white;
}

.class-list{
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.class-list h2, .class-list p{
  padding: 0.5rem 0 0.5rem 0;
}

.class-list p{
  opacity: 0.5;
}

#courses{
  text-transform: uppercase;
}

/*Exhibit*/
.thesis-video{
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.thesis-video video{
  width: 100%;
}

.vid-text{
  width: 60%;
}

.thesis{
  display: flex;
  padding-top: 2rem;
}

/*Footer*/

footer{
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  margin: 3rem 0;
}

.terms ul{
  display: flex;
}

.terms ul li{
  padding: 0 0.5rem;
}

.terms li:hover{
  opacity: 0.5;
}
